{% extends "base.html.twig" %}

{% block content %}
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h2>Usted se encuentra en:</h2>
                        <div class="form-group">
                            <form name="sucursal-form" method="post" id="sucursal-form" action="{{ path("sucursal_seleccion") }}">
                                <select id="eleccion-sucursal" name="sucursal" required="required" class="form-control input-m input-medium input-inline" style="width:100%">
                                    <option value="">Elige una sucursal</option>    
                                    {% for sucursal in sucursales %}
                                        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                                    {% endfor %}
                                </select><br><br>
                                <div class="form-group">
                                    <button type="submit" id="sucursal_submit" name="sucursales-submit" class="btn-primary btn">Seleccionar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            {#$('#left-panel').remove();#}

            $("#eleccion-sucursal").autocomplete({
                messages: {
                    noResults:'',
                    results: function () {}
                }
            });
            
            $('#sucursal-form').validate({
            onkeyup: false,
            submitHandler: function(form) {
                    form.submit();
                    $("#sucursal_submit").prop('disabled', true);
                },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            rules: {
                "sucursal":{
                    required :true
                }
            },
            messages: {
                "sucursal":{
                    required : "Este campo es requerido"
                }
            }
        });
            
        });
    </script>
{% endblock %}
