{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  'Metronic/assets/global/plugins/jquery-handsontable/handsontable.full.css'
                    'Metronic/assets/global/plugins/jquery-handsontable/handsontable.bootstrap.css'
                                 filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"  />
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <div class="row">
        <!-- col -->
        <div class="col-md-12">
            <h3 class="page-title"> Gestión de Compras
                <small> > editar compra</small>
            </h3>    
        </div>
        <!-- end col -->
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"> Compra</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" style="padding-top: 7px;">Fecha:</label>
                                        <div class="col-md-10">
                                            <input class="form-control datepicker filters" style="position: relative; z-index: 100000;" id="txtFecha" type="text" data-dateformat="dd/mm/yy" value="{{ "now"|date("d/m/Y")}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" style="padding-top: 7px;">Proveedor:</label>
                                        <div class="col-md-9">
                                            <select id="cmbProveedor" class="filters" style="width:100%">
                                                <option value="">Ingrese un proveedor...</option>
                                                {% for proveedor in proveedores %}
                                                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label" style="padding-top: 7px;">Rubro:</label>
                                        <div class="col-md-9">
                                            <select id="cmbRubro" class="filters" style="width:100%">
                                                <option value="">Ingrese un rubro...</option>
                                                {% for rubro in rubros %}
                                                    <option value="{{ rubro.descripcion }}">{{ rubro.descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary" id="save">Guardar</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="hidden" id="totalizador" value="0">
                                <input type="hidden" name="tipo" id="tipo" value="editar">
                                <input type="hidden" name="compraId" id="compraId" value="{{ id }}" />
                                <div id="example6" style="width:100%;"></div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'Metronic/assets/global/plugins/jquery-handsontable/handsontable.full.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cmbProveedor, #cmbRubro').select2();
            var myData, cantidadCambios = 0;
            var $container = $("#example6");
            var $console = $("#info");
            $container.handsontable({
                colHeaders: ['Cantidad', 'Insumo', 'Rubro', 'Precio unitario', 'Precio total'],
                columns: [
                    {},
                    {readOnly: true},
                    {readOnly: true},
                    {},
                    {}
                ],
                columnSorting: true,
                stretchH: "all",
                tableClassName: ['table', 'table-hover', 'table-striped'],
                afterChange: function (change, source) {
                    if (source === 'edit') {
                        cantidadCambios++;
                        $console.text(cantidadCambios + ' Cambio/s realizados.');
                        var row, col, r_len, c_len;
                        for (row = 0, r_len = myData.length; row < r_len; row++) {
                            for (col = 0, c_len = myData[row].length; col < c_len; col++) {
                                if (row == change[0][0] && col == change[0][1]) {
                                    myData[row][col] = change[0][3];
                                }
                            }
                        }


                        //Calcular los totales
                        if (source !== 'sum') {
                            var cantidad, precioUnitario, precioTotal, sum, i;
                            var totalizador = parseFloat($("#totalizador").val(), 3);

                            for (var i = 0; i < change.length; i++) {
                                var cambio = change[i];
                                var row = cambio[0];

                                cantidad = this.getDataAtCell(row, 0);
                                precioUnitario = this.getDataAtCell(row, 3);
                                precioTotal = this.getDataAtCell(row, 4);
                                var precioTotalPosterior = precioTotal;
                                var precioTotalAnterior = precioTotal;

                                if (cambio[1] === 3) {
                                    precioTotal = calcularTotal(cantidad, precioUnitario);
                                    precioTotalPosterior = precioTotal;
                                    this.setDataAtCell(cambio[0], 4, precioTotal, 'sum');

                                    totalizador += (precioTotalPosterior - precioTotalAnterior);
                                    $("#totalizador").val(totalizador);
                                }

                                if (cambio[1] === 4) {
                                    precioUnitario = calcularUnitario(cantidad, precioTotal);
                                    precioTotalPosterior = cambio[3];
                                    precioTotalAnterior = cambio[2];
                                    this.setDataAtCell(cambio[0], 3, precioUnitario, 'sum');

                                    totalizador += (precioTotalPosterior - precioTotalAnterior);
                                    $("#totalizador").val(totalizador);
                                }
                                //totalizador
                                if (precioTotal == null || typeof precioTotal == "undefined" || precioTotal == "") {
                                    precioTotal = 0;
                                }

                                if (typeof cambio[2] == "undefined" || cambio[2] == "") {
                                    cambio[2] = 0;
                                }

                            }
                        }
                    }
                }
            });



            function actualizarGrilla() {
                $.ajax({
                    url: Routing.generate('compra_listar_detalle'),
                    data: {
                        compraId: function () {
                            return $("#compraId").val();
                        }
                    },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        myData = res;
                        $container.handsontable('loadData', res);
                        $console.text('Mercadería Cargada.');
                    }
                });
            }
            ;

            function calcularTotal(cantidad, precioUnitario) {
                return parseFloat(cantidad * precioUnitario, 3);
            }
            ;
            function calcularUnitario(cantidad, precioTotal) {
                return parseFloat(precioTotal / cantidad, 3);
            }
            ;

            $('#cmbRubro').on('change', function (event) {
                var value = ('' + this.value).toLowerCase(), row, col, r_len, c_len;
                var data = myData;
                var searcharray = [];
                if (typeof value != "undefined") {
                    for (row = 0, r_len = data.length; row < r_len; row++) {
                        for (col = 0, c_len = data[row].length; col < c_len; col++) {
                            if (data[row][2] == null) {
                                continue;
                            }
                            if (('' + data[row][2]).toLowerCase().indexOf(value) > -1) {
                                searcharray.push(data[row]);
                                break;
                            }
                        }
                    }
                    $container.handsontable('loadData', searcharray);
                }
            });

            actualizarGrilla();

        });
    </script>
{% endblock %}
