{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  'SmartAdmin/jquery-handsontable/handsontable.full.css'
                    'SmartAdmin/jquery-handsontable/handsontable.bootstrap.css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"  />
    {% endstylesheets %}
{% endblock %}


{% block content %}
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa fa-shopping-cart"></i> Gestión de Compras <span>>
                    Nueva Compra </span></h1>
        </div>
        <!-- end col -->
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-white" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-shopping-cart"></i> </span>
                        <h2> Compra </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="padding-top: 7px;">Fecha:</label>
                                            <div class="col-md-10">
                                                <input class="form-control datepicker filters" style="position: relative; z-index: 100000;" id="txtFecha" type="text" data-dateformat="dd/mm/yy" value="{{ "now"|date("d/m/Y")}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" style="padding-top: 7px;">Proveedor:</label>
                                            <div class="col-md-9">
                                                <select id="cmbProveedor" class="filters" style="width:100%">
                                                    <option value="">Ingrese un proveedor...</option>
                                                    {% for proveedor in proveedores %}
                                                        <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" style="padding-top: 7px;">Rubro:</label>
                                            <div class="col-md-9">
                                                <select id="cmbRubro" class="filters" style="width:100%">
                                                    <option value="">Ingrese un rubro...</option>
                                                    {% for rubro in rubros %}
                                                        <option value="{{ rubro.descripcion }}">{{ rubro.descripcion }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>    
                                    <input type="hidden" name="tipo" id="tipo" value="nueva" />
                                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                        <a class="btn btn-primary" id="save">Guardar</a>
                                    </div>
                                </div>
                            </div>         
                            <pre id="info" class="console">Click "Load" to load data from server</pre>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="example6" style="width:100%;"></div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'SmartAdmin/jquery-handsontable/handsontable.full.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cmbProveedor, #cmbRubro').select2();
            var myData, cantidadCambios = 0;
            var $container = $("#example6");
            var $console = $("#info");
            $container.handsontable({
                colHeaders: ['Cantidad', 'Insumo', 'Rubro', 'Precio unitario', 'Precio total'],
                columns: [
                    {data: 0},
                    {data: 1,
                        readOnly: true},
                    {data: 2,
                        readOnly: true},
                    {data: 3},
                    {data: 4}
                ],
                columnSorting: true,
                stretchH: "all",
                tableClassName: ['table', 'table-hover', 'table-striped'],
                afterChange: function (change, source) {
                    //Guarda cambios realizados.
                    if (source === 'edit') {
                        cantidadCambios++;
                        $console.text(cantidadCambios + ' Cambio/s realizados.');
                        var row, col, r_len, c_len;
                        for (row = 0, r_len = myData.length; row < r_len; row++) {
                            for (col = 0, c_len = myData[row].length; col < c_len; col++) {
                                if (row == change[0][0] && col == change[0][1]) {
                                    myData[row][col] = change[0][3];
                                }
                            }
                        }
                        //traer valores
                        var cantidad = $container.handsontable('getDataAtCell', change[0], 0);
                        var precioUnitario = $container.handsontable('getDataAtCell', change[0], 3);
                        var precioTotal = $container.handsontable('getDataAtCell', change[0], 4);
                        //Calcular los totales
                        {#$container.handsontable('setDataAtCell', change[1], 4, '33');#}
                    }
                }
            });

            function actualizarGrilla() {
                $.ajax({
                    url: Routing.generate('mercaderia_listar_ajax'),
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        myData = res;
                        $container.handsontable('loadData', res);
                        $console.text('Mercadería Cargada.');
                    }
                });
            }
            ;

            $('#cmbRubro').on('change', function (event) {
                var value = ('' + this.value).toLowerCase(), row, col, r_len, c_len;
                var data = myData;
                var searcharray = [];
                if (typeof value != "undefined") {
                    for (row = 0, r_len = data.length; row < r_len; row++) {
                        for (col = 0, c_len = data[row].length; col < c_len; col++) {
                            var dat = data[row];
                            if (data[row][2] == null) {
                                continue;
                            }
                            if (('' + data[row][2]).toLowerCase().indexOf(value) > -1) {
                                searcharray.push(data[row]);
                                break;
                            }
                        }
                    }
                    $container.handsontable('loadData', searcharray);
                }
            });

            actualizarGrilla();

            $('#save').click(function () {
                var tipo = $("#tipo").val();
                var fecha = $("#txtFecha").val();
                var proveedor = $("#cmbProveedor").val();
                var arrayData = [];
                myData.forEach(function (item) {
                    var res = [];
                    if(item[0] != "" && item[3] != "" && item[4] != ""){
                        res[0] = item[0];
                        res[1] = item[5];
                        res[2] = item[3]
                        res[3] = item[4];
                        arrayData.push(res);
                    }
                });
                $.ajax({
                    url: Routing.generate('compra_guardar'),
                    dataType: 'json',
                    type: 'POST',
                    data: {
                        "tipo": tipo,
                        "data": arrayData,
                        "fecha": fecha,
                        "proveedor": proveedor
                    },
                    success: function (res) {
                        var response = JSON.parse(res.response);

                        if (response.result === 'ok') {
                            $console.text('Compra guardada.');
                        }
                        else {
                            $console.text('Error!');
                        }
                    }
                });
            });

        });
    </script>
{% endblock %}
